body{
	text-align: center;
	background: #5285c4;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #233B5D;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

h3{
  color: #233B5D;
  font-weight: 100;
  font-size: 20px;
  margin: 40px 0px 20px;
}

.clock{
	font-family: sans-serif;
	color: #233B5D;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

.clock > div{
	padding: 10px;
	border-radius: 3px;
	background: #8F9190;
	display: inline-block;
}

.clock div > span{
	padding: 15px;
	border-radius: 3px;
	background: #C26225;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

.reset-button{
  background: #C58F69;
  color: #5B2C36;
  width: 105px;
  height: 35px;
}
