<?xml version='1.0' encoding='utf-8'?>
<widget id="com.danialoberg.overmatch" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>overmatch</name>
    <description>
        A timer application to make you awesome.
    </description>
    <author email="dan@cs1.com" href="http://danialoberg.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
